body{
  background-color: #ebedef;
  padding: 6% 10%;
  text-align: center;
}
.login-div{
  display: inline-block;
  background-color: #fff;
  margin-right: -5px;
  text-align: left;
  padding: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.quote-div{
  display: inline-block;
  text-align: center;
  width: 350px;
  background-color: rgb(0,66,130);
  padding: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -100px;
  height: 411px;
}
.login-text{
  font-size: 30px;
  color: #5F9DF7;
  font-weight: 600;
  display: inline-block;
}
.admin-text{
  display: inline-block;
  text-align: right;
  margin-left: 200px;
  color: #5F9DF7;
}
.icons{
  padding: 10px;
  background-color: #ebedef;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.form-inputs{
  padding: 4px 10px;
  margin-left: -4px;
  background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  transition: 2s;
  width: 200px;

}
.form-inputs:focus{
  width: 90%;
}
.border{
  border: 1px solid #d8dbe0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 350px;
  margin-bottom: 20px;
}
.border:focus{
  width: 80%;
}
.show-password{
  display: inline-block;
}
.show-password{
  margin-bottom: 30px;
}
.login-button{
  padding: 8px 25px;
  background-color: rgb(0,66,130);
  border-radius: 5px;
  border: none;
  color: #fff;
}
.login-button:hover{
  background-color: #5F9DF7;
}
.forgot-password{
  display: inline-block;
  margin-left: 130px;
  text-decoration: none;
  color: black;
}
.quote-div-headding{
  color: #fff;
  font-size: 15px;
}
.quote-text{
  width: 90%;
  color: #fff;
  font-size: 15px;
  margin-top: 58px;
}
.home-btn{
  margin-top: 30px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(0,66,130);
  border: 2px solid #fff;
}
.home-btn:hover{
  background-color: #fff;
  color: rgb(0,66,130)
}
.icon{
  color: #fff;
}
.icon:hover{
  color: rgb(0,66,130);
}

/* MEDIA SECTION */
@media (max-width: 768px){
  body{
    padding: 30px;
    padding-top: 50%;
  }
  .quote-div{
    visibility: hidden;
  }
  .login-div{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 0;
    margin-left: -8px;
  }
  .border{
    width: 250px;
  }
  .form-inputs:focus{
    width: 86%;
  }
  .forgot-password{
    display: block;
    font-size: 15px;
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (max-width: 1080px){
  .quote-div{
    visibility: hidden;
  }
}
